# {{ schema.name }}: a repository for information resources used in NCATS Data Translator.

The information resource registry is a listing of data sources present in the NCATS Data Translator system.
Each information resource has an identifier, a short description, and an URL to more information about that resource.

## Classes

| Class | Description |
{% for c in schemaview.all_classes(ordered_by="lexical").values()|sort(attribute='name') -%}
| --- | --- |
| {{gen.link(c)}} | {{c.description}} |
{% endfor %}

## Slots

| Property | Description |
{% for np in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
| --- | --- |
| {{gen.link(np)}} | {{np.description}} |
{% endfor %}


## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in schemaview.all_enums().values()|sort(attribute='name') -%}
| {{gen.link(e)}} | {{e.description}} |
{% endfor %}
