# {{ schema.name }}

The information resource registry is a listing of data sources present in the NCATS Data Translator system.
Each information resource has an identifier, a short description, and an URL to more information about that resource.

[View the Infores Catalog](https://biolink.github.io/information-resource-registry/infores_catalog.yaml)

[Download the Infores Catalog](infores_catalog.yaml)

## Classes

| Class | Description |
| --- | --- |
{% for c in schemaview.all_classes(ordered_by="lexical").values()|sort(attribute='name') -%}
| {{gen.link(c)}} | {{c.description}} |
{% endfor %}

## Slots

| Property | Description |
| --- | --- |
{% for np in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
| {{gen.link(np)}} | {{np.description}} |
{% endfor %}

## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in schemaview.all_enums().values()|sort(attribute='name') -%}
| {{gen.link(e)}} | {{e.description}} |
{% endfor %}
